.task {
    display: grid;
    grid-auto-flow: row;
}

.taskSummary {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: auto 12rem 1fr auto;
    column-gap: 1rem;
}

.taskLabel {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.expand {
    width: 1.5rem;
}
